[run]
omit =

    ; Django migrations
    */migrations/*

    ; Django Apps
    *apps.py
    *manage.py
    *asgi.py
    *wsgi.py
    *tests.py

    ; Django settings
    *settings/*
    */urls_dev.py

    ; DRF Auto Docs
    *docs.py

    ; Celery App Config
    *celery.py

    ; Test files
    *tests/*
    *conftest.py

    ; python module boilerplate
    *__init__.py

    # prod-only services
    src/app/ext/sms/backends/twilio.py
    src/app/ext/email/send_grid.py
    src/app/ext/storage/aws_s3.py
    src/app/ext/storage/fields.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    from abc *
    class .*\b\(ABC\):
