[run]
omit = 

    ; Django migrations
    */migrations/* 

    ; Django Apps
    *apps.py
    *manage.py
    *asgi.py
    *wsgi.py
    *tests.py
    
    ; Django settings
    *settings/*

    ; DRF Auto Docs
    *docs.py

    ; Celery App Config
    *celery.py

    ; Test files
    *tests/*
    *conftest.py

    ; python module boilerplate
    *__init__.py
