[run]
omit =

    ; Django migrations
    */migrations/*

    ; Django Apps
    *apps.py
    *manage.py
    *asgi.py
    *wsgi.py

    ; Django settings
    *settings/*
    */urls_dev.py

    ; Test files
    *tests/*
    *conftest.py

    ; python module boilerplate
    *__init__.py

    src/app/celery/app.py
    src/app/drf/*
    src/app/ext/*
    src/app/settings/*
    src/app/storage/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    from abc *
    class .*\b\(ABC\):
