repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [src, --check]
        always_run: true
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.961
    hooks:
      - id: mypy
        always_run: true
        args: [src/]

  - repo: "https://github.com/PyCQA/isort"
    rev: 5.10.1
    hooks:
      - id: isort
        always_run: true
        args: [src/, --profile, black, --filter-files]
