{% extends "admin/base_site.html" %}
 
{% load static %}
{% load i18n %}
 
{% load locale_switcher %}
 
{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
{% endblock %}

{% block branding %}
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <h1 id="site-name">     
                <a href="{% url 'admin:index' %}">
                    <strong>
                        {{ site_header }}
                    </strong>
                </a>
            </h1>
        </div>
    </nav>
{% endblock %}
 
{% block userlinks %}
    <a href="{{ request|switch_i18n:'en' }}">
        <img class="i18n_flag" src="{% static 'locale_flags/en.png' %}"/>
    </a> /
    <a href="{{ request|switch_i18n:'pt-br' }}">
        <img class="i18n_flag" src="{% static 'locale_flags/pt-br.png' %}"/>
    </a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}