{% comment %}
    Here we override the material admin template so it dont show the profile image
    in the admin panel and we added the welcome message that can be translated in other languages
{% endcomment%}

{% load static %}

{% block user_profile %}
    {% if profile_bg %}
    <div style="height: 175px;">
        <img width="300" src="{{ profile_bg }}">
    <div>
    {% else %}
        <img src="{% static 'material/admin/images/login-bg-'|add:current_theme|add:'.jpg' %}">
    {% endif %}
    <div class="card-title" style="background: {{main_hover_color}};">
        <strong style="font-size: 16px"> {% firstof user.get_welcome_short_name  user.username|default_if_none:'' %}</strong><br>
        <small>{{ user.email|default_if_none:'' }}</small>
    </div>
{% endblock %}